/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


@import "@fontsource/exo-2/index.css";

body {
  font-family: 'Exo 2', sans-serif !important;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Exo 2', sans-serif;
  --ifm-heading-font-family: 'Exo 2', sans-serif;
  --ifm-color-primary: #6366f1;         /* Indigo 500 */
  --ifm-color-primary-dark: #4f46e5;    /* Indigo 600 */
  --ifm-color-primary-darker: #4338ca;  /* Indigo 700 */
  --ifm-color-primary-darkest: #3730a3; /* Indigo 800 */
  --ifm-color-primary-light: #818cf8;   /* Indigo 400 */
  --ifm-color-primary-lighter: #a5b4fc; /* Indigo 300 */
  --ifm-color-primary-lightest: #c7d2fe;/* Indigo 200 */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a78bfa;         /* Violet 400 */
  --ifm-color-primary-dark: #8b5cf6;    /* Violet 500 */
  --ifm-color-primary-darker: #7c3aed;  /* Violet 600 */
  --ifm-color-primary-darkest: #6d28d9; /* Violet 700 */
  --ifm-color-primary-light: #c4b5fd;   /* Violet 300 */
  --ifm-color-primary-lighter: #ddd6fe; /* Violet 200 */
  --ifm-color-primary-lightest: #ede9fe;/* Violet 100 */
}
