name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm exec playwright install --with-deps
      - uses: nrwl/nx-set-shas@v4
      - run: pnpm exec nx affected -t build e2e lint test testronaut typecheck --exclude=tag:type:demo
      - run: pnpm nx-cloud fix-ci
        if: always()

  test-commonjs:
    name: Test CommonJS Support
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm exec playwright install --with-deps
      - uses: nrwl/nx-set-shas@v4
      # This target changes the `package.json` and `pnpm-lock.yaml` files.
      # Do not run anything that might be affected by this after this step.
      - run: pnpm exec nx affected -t testronaut-commonjs
      - run: pnpm nx-cloud fix-ci
        if: always()
